<div class="conversor">
    <h4>Conversor de Moedas</h4>
    <div class="formulario">
      <div class="form-group">
        <label for="moedaOrigem">Moeda de Origem:</label>
        <select id="moedaOrigem" [(ngModel)]="moedaOrigem">
          <option value="">Selecione a moeda de origem</option>
          <option *ngFor="let moeda of moedas" [value]="moeda.moeda">
            {{moeda.moeda}} - Taxa: {{moeda.taxa}}
          </option>
        </select>
      </div>
    
      <div class="form-group">
        <label for="moedaDestino">Moeda de Destino:</label>
        <select id="moedaDestino" [(ngModel)]="moedaDestino">
          <option value="">Selecione a moeda de destino</option>
          <option *ngFor="let moeda of moedas" [value]="moeda.moeda">
            {{moeda.moeda}} - Taxa: {{moeda.taxa}}
          </option>
        </select>
      </div>
    
      <div class="form-group">
        <label for="valor">Valor:</label>
        <input type="number" id="valor" [(ngModel)]="valor" min="0">
      </div>
    
      <button (click)="converter()">Converter</button>
    
      <div *ngIf="exibirResultado" class="resultado">
        <h3>Resultado da Conversão</h3>
        <p>Valor Convertido: {{valorConvertido | number:'1.2-2'}} {{moedaDestino}}</p>
        <p>Taxa de Conversão: {{taxaConversao | number:'1.4-4'}}</p>
        <button (click)="fecharResultado()">Fechar</button>
      </div>
    </div>
    
  </div>