<div class="principal-container">
  <h2>Bem-vindo ao TrocaCoin, o melhor Conversor de Moedas</h2>
  <div>
    <img src="fundo.png" alt="TrocaCoin" class="trocaCoin" >
  </div>
  <br>
  <p>
    Esta aplicação permite que você converta valores monetários entre 
    diferentes moedas usando taxas de câmbio em tempo real fornecidas 
    pela <a href="https://www.exchangerate-api.com/" target="_blank">exchangerate-api</a>.</p>
    <p>Navegue pelas paginas no menu acima para visualizar as moedas, converter e ver o historico de conversão.
  </p>
</div>
